In [36]:
# Dependencies and Setup
import os
import pandas as pd
import datetime as dt

# File to Load 
file_path = os.path.join("Resources","Bitcoin","bitcoin2020.csv")
file_path

'Resources\\Bitcoin\\bitcoin2020.csv'

In [2]:
df20 = pd.read_csv(file_path)
df20.head()

,Unnamed: 0,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4202176,2020-01-01 00:00:00,7160.69,7160.69,7159.64,7159.64,5.501691,39392.484606,7160.068520
1,4202177,2020-01-01 00:01:00,7161.51,7161.51,7155.09,7161.20,3.776924,27047.304680,7161.198209
2,4202178,2020-01-01 00:02:00,7158.82,7158.82,7158.82,7158.82,0.029278,209.595359,7158.820000
3,4202179,2020-01-01 00:03:00,7158.82,7158.82,7156.90,7156.90,0.065819,471.156094,7158.321885
4,4202180,2020-01-01 00:04:00,7158.50,7158.50,7154.97,7157.20,0.971387,6950.500833,7155.235666

In [5]:
list(df20.columns)

['Unnamed: 0',
 'Timestamp',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [8]:
df20=df20.rename(columns={'Unnamed: 0':'Block'})
list(df20.columns)

['Block',
 'Timestamp',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume_(BTC)',
 'Volume_(Currency)',
 'Weighted_Price']

In [68]:
df20short=df20[['Block','Timestamp','Volume_(BTC)', 'Volume_(Currency)',
 'Weighted_Price']]
df20short

,Block,Timestamp,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4202176,2020-01-01 00:00:00,5.501691,39392.484606,7160.068520
1,4202177,2020-01-01 00:01:00,3.776924,27047.304680,7161.198209
2,4202178,2020-01-01 00:02:00,0.029278,209.595359,7158.820000
3,4202179,2020-01-01 00:03:00,0.065819,471.156094,7158.321885
4,4202180,2020-01-01 00:04:00,0.971387,6950.500833,7155.235666
...,...,...,...,...,...
370076,4572252,2020-09-13 23:56:00,0.081143,837.754188,10324.419779
370077,4572253,2020-09-13 23:57:00,0.572817,5918.028741,10331.444396
370078,4572254,2020-09-13 23:58:00,2.489909,25711.238323,10326.175283
370079,4572255,2020-09-13 23:59:00,4.572660,47253.747619,10333.972651
370080,4572256,2020-09-14 00:00:00,1.292006,13349.565122,10332.429402

In [69]:
df20short.columns
print(df20short.dtypes)

Block                  int64
Timestamp             object
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [70]:
df20short["Timestamp"].astype(str)

0         2020-01-01 00:00:00
1         2020-01-01 00:01:00
2         2020-01-01 00:02:00
3         2020-01-01 00:03:00
4         2020-01-01 00:04:00
                 ...
370076    2020-09-13 23:56:00
370077    2020-09-13 23:57:00
370078    2020-09-13 23:58:00
370079    2020-09-13 23:59:00
370080    2020-09-14 00:00:00
Name: Timestamp, Length: 370081, dtype: object

In [71]:
df20short['Timestamp']= pd.to_datetime(df20short['Timestamp'])
df20short

<ipython-input-71-4c144c11dafe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20short['Timestamp']= pd.to_datetime(df20short['Timestamp'])

,Block,Timestamp,Volume_(BTC),Volume_(Currency),Weighted_Price
0,4202176,2020-01-01 00:00:00,5.501691,39392.484606,7160.068520
1,4202177,2020-01-01 00:01:00,3.776924,27047.304680,7161.198209
2,4202178,2020-01-01 00:02:00,0.029278,209.595359,7158.820000
3,4202179,2020-01-01 00:03:00,0.065819,471.156094,7158.321885
4,4202180,2020-01-01 00:04:00,0.971387,6950.500833,7155.235666
...,...,...,...,...,...
370076,4572252,2020-09-13 23:56:00,0.081143,837.754188,10324.419779
370077,4572253,2020-09-13 23:57:00,0.572817,5918.028741,10331.444396
370078,4572254,2020-09-13 23:58:00,2.489909,25711.238323,10326.175283
370079,4572255,2020-09-13 23:59:00,4.572660,47253.747619,10333.972651
370080,4572256,2020-09-14 00:00:00,1.292006,13349.565122,10332.429402

In [72]:
df20short.dtypes

Block                         int64
Timestamp            datetime64[ns]
Volume_(BTC)                float64
Volume_(Currency)           float64
Weighted_Price              float64
dtype: object

In [77]:
from datetime import datetime
noon = datetime.strptime('12:00:00', '%H:%M:%S').time()
noon


dfshortnoon= df20short.set_index('Timestamp').at_time(noon)
dfshortnoon

                       Block  Volume_(BTC)  Volume_(Currency)  Weighted_Price
Timestamp
2020-01-01 12:00:00  4202896      0.669749        4807.370126     7177.867350
2020-01-02 12:00:00  4204336      0.510742        3637.321806     7121.639042
2020-01-03 12:00:00  4205776     12.028600       88234.410960     7335.385218
2020-01-04 12:00:00  4207216      5.121394       37530.579645     7328.196236
2020-01-05 12:00:00  4208656      0.020840         154.702774     7423.243703
...                      ...           ...                ...             ...
2020-09-09 12:00:00  4565776     17.606331      180137.292530    10231.393219
2020-09-10 12:00:00  4567216      7.882901       81215.165030    10302.700009
2020-09-11 12:00:00  4568656      0.648506        6658.136835    10266.886429
2020-09-12 12:00:00  4570096      2.391694       24728.988913    10339.529415
2020-09-13 12:00:00  4571536     25.837879      266443.012740    10312.108394

[257 rows x 4 columns]

In [81]:
dfshortnoon['Volume_(Currency)']=dfshortnoon['Volume_(Currency)'].map("${0:,.2f}".format)
dfshortnoon.head()

                       Block  Volume_(BTC) Volume_(Currency)  Weighted_Price
Timestamp
2020-01-01 12:00:00  4202896      0.669749         $4,807.37     7177.867350
2020-01-02 12:00:00  4204336      0.510742         $3,637.32     7121.639042
2020-01-03 12:00:00  4205776     12.028600        $88,234.41     7335.385218
2020-01-04 12:00:00  4207216      5.121394        $37,530.58     7328.196236
2020-01-05 12:00:00  4208656      0.020840           $154.70     7423.243703

In [82]:
dfshortnoon['Weighted_Price']=dfshortnoon['Weighted_Price'].map("${0:,.2f}".format)
dfshortnoon.head()

                       Block  Volume_(BTC) Volume_(Currency) Weighted_Price
Timestamp
2020-01-01 12:00:00  4202896      0.669749         $4,807.37      $7,177.87
2020-01-02 12:00:00  4204336      0.510742         $3,637.32      $7,121.64
2020-01-03 12:00:00  4205776     12.028600        $88,234.41      $7,335.39
2020-01-04 12:00:00  4207216      5.121394        $37,530.58      $7,328.20
2020-01-05 12:00:00  4208656      0.020840           $154.70      $7,423.24

In [89]:
dfshortnoon=dfshortnoon.reset_index()
dfshortnoon.head()

            Timestamp    Block  Volume_(BTC) Volume_(Currency) Weighted_Price
0 2020-01-01 12:00:00  4202896      0.669749         $4,807.37      $7,177.87
1 2020-01-02 12:00:00  4204336      0.510742         $3,637.32      $7,121.64
2 2020-01-03 12:00:00  4205776     12.028600        $88,234.41      $7,335.39
3 2020-01-04 12:00:00  4207216      5.121394        $37,530.58      $7,328.20
4 2020-01-05 12:00:00  4208656      0.020840           $154.70      $7,423.24

In [90]:
dfshortnoon['Timestamp']=dfshortnoon['Timestamp'].dt.date
dfshortnoon

      Timestamp    Block  Volume_(BTC) Volume_(Currency) Weighted_Price
0    2020-01-01  4202896      0.669749         $4,807.37      $7,177.87
1    2020-01-02  4204336      0.510742         $3,637.32      $7,121.64
2    2020-01-03  4205776     12.028600        $88,234.41      $7,335.39
3    2020-01-04  4207216      5.121394        $37,530.58      $7,328.20
4    2020-01-05  4208656      0.020840           $154.70      $7,423.24
..          ...      ...           ...               ...            ...
252  2020-09-09  4565776     17.606331       $180,137.29     $10,231.39
253  2020-09-10  4567216      7.882901        $81,215.17     $10,302.70
254  2020-09-11  4568656      0.648506         $6,658.14     $10,266.89
255  2020-09-12  4570096      2.391694        $24,728.99     $10,339.53
256  2020-09-13  4571536     25.837879       $266,443.01     $10,312.11

[257 rows x 5 columns]

In [91]:
dfshortnoon.dtypes

Timestamp             object
Block                  int64
Volume_(BTC)         float64
Volume_(Currency)     object
Weighted_Price        object
dtype: object

In [94]:
dfshortnoon.to_csv('Resources/Bitcoin/rev_bitcoin2020data.csv')