In [1]:
# Dependencies and Setup
import os
import pandas as pd

# File to Load 
file_path = os.path.join("Resources","Bitcoin","bitstampUSD_1-min_data_2012-01-01_to_2020-09-14.csv")
file_path

'Resources\\Bitcoin\\bitstampUSD_1-min_data_2012-01-01_to_2020-09-14.csv'

In [2]:

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_path)
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit='s')
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 07:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 07:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 07:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 07:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
split_date = pd.datetime(2020,1,1)
df_2020 = df.loc[df["Timestamp"] >= split_date]
df_2020.head()
df_2020.to_csv('bitcoin2020.csv')

C:\Users\cdubi\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.